body{
    display: block;
    user-select: none;
}
input{
    display: block;
}
label{
    display: block;
}
.days{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.days section{
    display: flex;
    flex-direction: column;
}
section{
    width: max-content;
}
